.btn-class{
    background-color: #2196F3;
    color:white;
    padding:2px 16px;
    margin-left: 10px;
}

.ml-5{
    margin-left: 5px;
}

.custom-input-class{
    border: 1px solid #2196f3;
    height: 19px;
    border-radius: 3px;
}

.btn-disabled{
    cursor: not-allowed;
}
